.footer-title {
    color: #E02C6D;
    text-align: center;
    background-color: #0A0826;
    padding: 50px;
    margin-top: 30px;
}
.footer-title {
    color: #E02C6D;
    background-color: #0A0826;
    padding: 100px;
    margin-top: 50px;
    text-align: center;
}
